
$primary: #CC0000;

/* $gap: 96px; */

@import "bulma-0.7.1/bulma.sass";

section#main div.container p {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.video {
    width: 400px;
}

section#title div.container div {
    padding-top: 10px;
    padding-bottom: 10px;
}
