<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{ block "title" . }}
      {{ .Site.Title }}
      {{ end }}
    </title>

    {{ $cssoptions := (dict "outputStyle" "compressed") }}
    {{ $style := resources.Get "sass/saraha.scss" | resources.ToCSS $cssoptions | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ $jquery := resources.Get "js/jquery-3.3.1.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{$jquery.Permalink}}"></script>
    {{ $sarahajs := resources.Get "js/saraha.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{$sarahajs.Permalink}}"></script>
  </head>
  <body>
    <div class="container">
      <img src="/img/scs-sa-light-850x122-2.jpg">
    </div>

    {{partial "menu.html"}}

    <section id="title">
      <div class="container">
        <div class="is-size-3 has-background-primary has-text-white
                    has-text-weight-light">
          {{ .Title }}
        </div>
      </div>
    </section>

    <section id="main" class="is-fullheight">
      <div class="container">
        {{ block "main" . }}
        {{ end }}
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        {{ block "footer" . }}
        This is the footer.
        {{ end }}
      </div>
    </footer>
  </body>
</html>
