{{ define "main" }}
  <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
  {{.Content}}

  <!-- Ranges through content/post/*.md -->
  {{ range .Pages.ByDate.Reverse }}
    <article>
      <p class="title is-5">{{ .Title }}</p>
      {{ .Content }}
    </article>
  {{ end }}
{{ end }}
