<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">

    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>


    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/">
            Welcome
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/news/">
              News
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            The School
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/about/">
              About SCS
            </a>
            <a class="navbar-item" href="/campus/">
              SCS Campus
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Education at SCS
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              One
            </a>
            <a class="navbar-item">
              Two
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Students
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              One
            </a>
            <a class="navbar-item">
              Two
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Faculty & Staff
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              One
            </a>
            <a class="navbar-item">
              Two
            </a>
          </div>
        </div>

        <a class="navbar-item">
          Saraha
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Enroll Now
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              One
            </a>
            <a class="navbar-item">
              Two
            </a>
          </div>
        </div>

        <a class="navbar-item">
          Contact
        </a>

        <a class="navbar-item">
          Calendar
        </a>
      </div>
    </div>
  </div>
</nav>
